<html>
  <body>
    <h1>details></h1>
    <h3>Mensagem</h3>
    <p><%= messageDetails.text %></p>
    <h3>Usuário</h3>
    <p><%= messageDetails.user %></p>
    <h3>Data</h3>
    <p><%= messageDetails.added %></p>
  </body>
</html>
